.nav-row{
  margin-bottom: 20px;
  margin-top: 50px;
  @include clearfix;

  .nav-block{
    padding: 20px;
    position: relative;
    border: 1px dashed #7d7d7d;
    .row:first-child{
      margin-bottom: 5px;
    }
    span{
      font-weight: 300;
      font-size: 1.05rem;
    }
    .nav-name{
      font-size: 1.05rem;
      color: #0b4e78;
      font-weight: 300;
    }
  }
  .left-block{
    float: left;
    width: 30%;
    margin-right: 1%;
    box-sizing: border-box;
    padding-left: 20px;
    @include breakpoint(max-width $phone-width){
      width: 100%;
      margin-right: 0;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 5px;
    }
    .ic-arrow{
      transform: rotate(180deg);
      position: absolute;
      left: 20px;
      margin-top: 3px;
    }
    a span{
      margin-left: 10px;
    }
  }
  .right-block{
    float: right;
    text-align: right;
    width: 30%;
    box-sizing: border-box;
    padding-right: 20px;
    @include breakpoint(max-width $phone-width){
      width: 100%;
      margin-right: 0;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
    a span{
      margin-right: 10px;
    }
    .ic-arrow{
      position: absolute;
      right: 20px;
      margin-top: 3px;
    }
  }
}
