.tags-block{
  a{
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 100;
    border-bottom: 1px dashed;
    color: $color-dark;
    &:hover, .selected{
      color: $link-hover-color;
    }
  }
  .current-tag{
    color: #b2b2b2;
    font-weight: 100;
    font-style: italic;
    margin-top: 15px;
  }
  margin-bottom: 30px;
}
