.register{
  .register-form{
    margin: auto;
    max-width: 550px;
    position: relative;
    left: -8%;
    @include breakpoint(max-width 700px){
      left: 0;
    }
    .table{
      width: 100%;
    }
    .requare-input{
      position: relative;
      &:after{
        position: absolute;
        left: -13px;
        top: 8px;
        content: "";
        @include sprite($ic-star);
      }
    }
    .table-row{
      .table-cell{
        padding-bottom: 5px;
        &:first-child{
          text-align: right;
          padding-right: 10px;
          width: 135px;
          font-size: 0.9rem;
        }
      }
    }
    .button-row{
      .table-cell{
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
    a{
      font-size: 0.9rem;
      &:first-child{
        float: left;
      }
      &:last-child{
        float: right;
      }
      @include breakpoint(max-width 700px){
        float: none!important;
        display: block;
        margin-top:5px;
        margin-bottom: 5px;
      }
    }
  }
}
