body{
 font-family: $font-opensans;
 font-size: $font-size;
}
.wrapper{
  margin: auto;
  max-width: 1200px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix;
}

.row{
  @include clearfix;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
i{
  display: inline-block;
}
.content{
  width: 75%;
  float: left;
}
main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding-bottom: 100px;
  @include breakpoint(max-width $desktop-width){
  margin: 0 auto 0px;
  }
}

footer,
.push {
  height: 60px;
  @include breakpoint(max-width $desktop-width){
    height: auto;
  }
}
.promo-new{
  &:after{
    top:-3px;
    right: -3px;
    position: absolute;
    display: block;
    content: '';
    @include sprite($ic-promo-new);
  }
}
.promo-hit{
  &:after{
    top:-3px;
    right: -3px;
    position: absolute;
    display: block;
    content: '';
    @include sprite($ic-promo-hit);
  }
}
.promo-sold{
  &:after{
    top:-3px;
    right: -3px;
    position: absolute;
    display: block;
    content: '';
    @include sprite($ic-promo-sold);
  }
}
.soc-block{
  margin-top: 20px;
  margin-bottom: 20px;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  .soc-text{
    font-weight: 100;
  }
}
a{
  color: $color-dark;
  &:hover{
    color: $link-hover-color;
  }
}
.link-detail{
  font-size: 0.95rem;
  font-weight: 100;
}
