
.menu-icon{
  cursor: pointer;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  .ic-menu{
    @include sprite($ic-menu);
  }
  .ic-menu-arrow{
    @include sprite($ic-menu-arrow);
  }
  &:hover, &.selected{
    .ic-menu{
      cursor: pointer;
      @include sprite($ic-menu-hover);
    }
    .ic-menu-arrow{
      @include sprite($ic-menu-arrow-hover);
    }
  }
}
.ic-main-data{
  @include sprite($ic-main-data);
}
.ic-service{
  @include sprite($ic-service);
}
.ic-order{
  @include sprite($ic-order);
}
.ic-pay{
  @include sprite($ic-pay);
}
.ic-doc{
  @include sprite($ic-doc);
}
.ic-buyer{
  @include sprite($ic-buyer);
}
.ic-cancel{
  @include sprite($ic-cancel);
}
.ic-confirm{
  @include sprite($ic-confirm);
}
.ic-detail-circle{
  @include sprite($ic-detail-circle);
}
.ic-star{
  @include sprite($ic-star);
}
.ic-search{
  @include sprite($ic-search);
}
.ic-dialog{
  @include sprite($ic-dialog);
}
.ic-key{
  @include sprite($ic-key);
}
.ic-vk{
  @include sprite($ic-vk);
  &:hover{
    @include sprite($ic-vk-hover);
  }
}
.ic-f{
  @include sprite($ic-f);
  &:hover{
    @include sprite($ic-f-hover);
  }
}
.ic-inst{
  @include sprite($ic-inst);
  &:hover{
    @include sprite($ic-inst-hover);
  }
}
.ic-you{
  @include sprite($ic-you);
  &:hover{
    @include sprite($ic-you-hover);
  }
}
.ic-in{
  @include sprite($ic-in);
  &:hover{
    @include sprite($ic-in-hover);
  }
}
.ic-download{
  @include sprite($ic-download);
}
.ic-count{
  @include sprite($ic-count);
}
.ic-arrow-nav-left{
  @include sprite($ic-arrow-nav-left);
}
.ic-arrow-nav-right{
  @include sprite($ic-arrow-nav-right);
}
.ic-view{
  @include sprite($ic-view);
}
.ic-badge-1{
  @include sprite($ic-badge-1);
}
.ic-badge-2{
  @include sprite($ic-badge-2);
}
.ic-tags{
  @include sprite($ic-tags);
}
.ic-tags-mini{
  @include sprite($ic-tags-mini);
}
.ic-coin{
  @include sprite($ic-coin);
}
