.section-header{
  margin: 0;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 400;
  color: #2a2a28;
  text-align: center;
  clear:both;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  @include breakpoint(max-width $middle-width){
    font-size: 1.3rem;
  }
}
.section-block{
  margin-top: 50px;
  border: 1px dotted #767676;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
  @include breakpoint(max-width $phone-width){
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .section-header{
    margin:0;
    position: relative;
    top: -0.65em;
    background-color: #fff;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-text{
    color: $color-dark;
    line-height: 1.3rem;
  }
}
p{
  color: #848484;
  line-height: 1.3rem;
  margin-bottom: 10px;
  font-size: 0.95rem;
}
.text-formated{
  @include breakpoint(max-width $phone-width){
    text-align: center;
  }
   *{
     color: #848484;
   }
   p,span,a,i{
     font-weight: 100;
   }
   ul,ol{
     margin-top:10px;
     margin-bottom: 10px;
     font-weight: 100;
     margin-left: 0;
     padding-left: 0;
     list-style-position: inside;
   }
   b{
     color: #848484;
   }

   h2,h3{
     text-align: center;
   }
   img{
     max-width: 100%;
     box-sizing: border-box;
     border: 1px solid #ccc;
   }
  figcaption{
    margin-top: 5px;
    font-style: italic;
    font-weight: 100;
  }
}
.component-header{
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  color: #2a2a28;
  margin-top:1.5em;
}
.text-light{
  font-weight: 100;
}
.text-normal{
  font-weight: 400;
}
h2{
  font-size: 1.6em;
}
h3{
  font-size: 1.3em;
}
h2,h3{
  color: $color-dark;
  font-weight: 400;
}
