.support-detail{
  .ticket-name{
    margin-bottom: 20px;
  }
  .ticket-level-row{
    margin-bottom: 30px;
    @include clearfix;
    .level-item{
      font-size: 0.9rem;
      @include span(3 of 12 0.1);
      box-sizing: border-box;
      border: 1px dotted;
      padding: 10px;
      font-weight: 100;
      box-sizing: border-box;
      &:nth-child(2){
        @include span(3 of 12 at 3 0.1);
      }
      &:last-child{
        @include span(6 of 12 at 7 0.1 last)
        margin-right: 0;
      }
      @include breakpoint(max-width $phone-width){
        margin-bottom: 5px;
        float: none!important;
        width: 100%!important;
      }
    }
  }
  .ticket-info-row{
    @include clearfix;
    .info-item{
      box-sizing: border-box;
      border-right: 1px solid #dfdfdf;
      @include span(1 of 3);
      @include breakpoint(max-width $phone-width){
        margin-bottom: 5px;
        float: none!important;
        width: 100%!important;
        text-align: center;
      }
      .type-info{
        font-weight: 100;
        margin-bottom: 10px;
        font-size: 0.95rem;
        i{
          margin-right:10px;
        }
      }
      .author-name{
        margin-bottom: 2px;
        font-size: 0.95rem;
        margin-left:25px;
      }
      .date{
        font-size: 0.95rem;
        margin-left:25px;
      }
      &:last-child{
        @include span(1 of 3 last);
        padding-right: 0px;
        border-right: 0;
      }
    }
  }
  .ticket-list{
    margin-top: 30px;
    .item{
      background-color: #fafafa;
      padding: 20px;
      margin-bottom: 20px;
      position: relative;
      font-size: 0.95rem;
      border: 1px dotted #6f6f6f;
      box-sizing: border-box;
      margin-left: 17px;
      margin-right: 17px;
      &.question:before {
          position: absolute;
          background-color: #fafafa;
          top: 15%;
          left: -16px;
          display: inline-block;
          border-left: 1px dotted #b3b3b3;
          border-bottom: 1px dotted #b3b3b3;
          width:30px;
          height:30px;
          transform:rotate(45deg);
          z-index:1;
          content:'';
      }
      &.answer:before {
          position: absolute;
          background-color: #fafafa;
          top: 15%;
          right: -16px;
          display: inline-block;
          border-top: 1px dotted #b3b3b3;
          border-right: 1px dotted #b3b3b3;
          width:30px;
          height:30px;
          transform:rotate(45deg);
          z-index:1;
          content:'';
      }
      .wrapp-pic{
        >*{
          display: inline-block;
          vertical-align: middle;
        }
        .pic{
          margin-right: 10px;
          img{
            border-radius: 100%;
            border: 1px solid #ccc;
          }
        }
      }

      .re-quate{
        position: absolute;
        right: 20px;
        top:50px;
      }
      .text{
        clear:both;
        padding-top: 10px;
        margin-bottom: 15px;
        font-weight: 100;
        color: #848484;
      }
      .attachments{
        .attach-h{
          font-size: 1rem;
          margin-bottom: 15px;
          >*{
            display: inline-block;
            vertical-align: middle;
          }
          i{
            margin-right: 5px;
          }
        }
        .attach-item{
          margin-bottom: 5px;
        }
      }
    }
  }
  .add-answer-block{
    margin-left: 17px;
    margin-right: 17px;
    h3{

    }
    .add-answer-form{
      position: relative;
      textarea{
        box-sizing: border-box;
        padding-top: 10px;
        height: 165px;
        resize: none;
      }
      .buttons-row{
        margin-bottom:30px;
        margin-top:20px;
        @include breakpoint(max-width $phone-width){
          text-align: center;
        }
        @include clearfix;
        .answer-ticket-btn{
          float: right;
          @include breakpoint(max-width $phone-width){
            margin-bottom: 5px;
            margin-top: 5px;
            float: none;

          }
        }
      }
    }
  }
  .ticket-rating{
    margin-left: 17px;
    .item{
      margin-bottom: 10px;
      label{
        margin-left:7px;
      }
    }
  }
  .back-link{
    margin-left: 17px;
    margin-top: 40px;
    i{
      margin-right: 5px;
    }
  }
}
