  <div class="bx-breadcrumb">
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1">

      <a href="/" title="Главная" itemprop="url">
        <span itemprop="title">Главная</span>
      </a>
    </div>
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="bx_breadcrumb_2">
      <i class="fa fa-angle-right">/</i>
      <a href="/catalog/" title="Раздел" itemprop="url">
        <span itemprop="title">Раздел</span>
      </a>
    </div>
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_2" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
      <i class="fa fa-angle-right">/</i>
      <a href="/catalog/trailers" title="Под раздел" itemprop="url">
        <span itemprop="title">Под раздел</span>
      </a>
    </div>
    <div class="bx-breadcrumb-item">
      <i class="fa fa-angle-right">/</i>
      <span>Текущий раздел</span>
    </div><div style="clear:both"></div>
  </div>
