{% extends './../layouts/master.html' %}
{% block content %}
<h1 class="section-header">Новость детальная</h1>

<!--start component news detail-->
<div class="news-detail">
  <div class="row info-row">
    <div class="news-info">
      <span class="date">
        28 июня 2017 &nbsp;&nbsp;12:30
      </span>
      <span class="view-count"><i class="ic-view"></i>1230</span>
    </div>
    <div class="social-block">
      соц блок
    </div>
  </div>
  <div class="tag-block">
    <!--start component tags list-->
    <div class="ic-tag-block">
      <i class="ic-tags-mini"></i>
    </div>
    <div class="tags-block">
      <a href="#" title="">Все проекты</a>
      <a href="#" title="">Слоны</a>
      <a href="#" title="">Интернет магазины</a>
      <a href="#" title="">Каталоги</a>
      <a href="#" title="">Слоны</a>
      <a href="#" title="">Интернет магазины</a>
      <a href="#" title="">Каталоги</a>
      <a href="#" title="">Слоны</a>
      <a href="#" title="">Интернет магазины</a>
      <a href="#" title="">Каталоги</a>
      <a href="#" title="">Слоны</a>
      <a href="#" title="">Интернет магазины</a>
      <a href="#" title="">Каталоги</a>
      <a href="#" title="">Слоны</a>
      <a href="#" title="">Интернет магазины</a>
      <a href="#" title="">Каталоги</a>
    </div>
    <!--end component tags list-->
  </div>
  <div class="detail-text text-formated">
    <h2>Заголовок</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Заголовок</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="nav-row">
  <div class="left-block nav-block">
    <div class="row">
      <a href="" title=""><i class="ic-arrow-nav-left"></i><span>Предыдущий элемент</span></a>
    </div>
    <div class="row">
      <span class="nav-name">Текст ссылки</span>
    </div>
  </div>
  <div class="right-block nav-block">
    <div class="row">
      <a href="#" title=""><span>Следующий элемент</span><i class="ic-arrow-nav-right"></i></a>
    </div>
    <div class="row">
      <span class="nav-name">Текст ссылки</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="back-link-block">
    <a href="#" title=""><i class="ic-arrow-nav-left"></i>Назад в список проектов</a>
  </div>
  <div class="soc-block">

  </div>
</div>
<!--end component news detail-->
{% endblock %}
