{% extends './../layouts/master.html' %}
{% block content %}


<h1 class="section-header">Заказ № 134</h1>

<!--start component order history detail-->
<div class="order-detail">
  <div class="content-block">
    <div class="prop-block">

      <div class="row">
        <div class="prop-header"><span><i class="ic-main-data"></i></span>Общие данные</div>
        <div class="prop-list">
          <div class="table">
            <div class="table-row">
              <div class="table-cell">
                Дата создания заказа
              </div>
              <div class="table-cell">
                12.05.2017
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                Сумма заказа
              </div>
              <div class="table-cell">
                324 500 Р
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                Статус заказа:
              </div>
              <div class="table-cell">
                Выполнен (10.02.2017)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="prop-header"><span><i class="ic-buyer"></i></span>Плательщик</div>
        <div class="prop-list">
          <div class="table">
            <div class="table-row">
              <div class="table-cell">
                Тип плательщика:
              </div>
              <div class="table-cell">
                Индивидуальный предприниматель
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                Профиль покупателя:
              </div>
              <div class="table-cell">
                Иванов Сергей Сергеич
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                Статус заказа:
              </div>
              <div class="table-cell">
                Выполнен (10.02.2017)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="prop-header"><span><i class="ic-pay"></i></span>Оплата заказа</div>
        <div class="prop-list">
          <div class="table">
            <div class="table-row">
              <div class="table-cell">
                Способ оплаты:
              </div>
              <div class="table-cell">
                Оплата по счету
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                Статус оплаты:
              </div>
              <div class="table-cell">
                Выполнен (10.02.2017)
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--doc block-->
      <div class="row">
        <div class="prop-header"><span><i class="ic-doc"></i></span>Документы заказа</div>
        <div class="doc-link-list">
          <div>
            <a href="#" title-"">Коммерческое предложение.doc (150 кб)</a>
          </div>
          <div>
            <a href="#" title-"">Коммерческое предложение.doc (150 кб)</a>
          </div>
          <div>
            <a href="#" title-"">Коммерческое предложение.doc (150 кб)</a>
          </div>
          <div>
            <a href="#" title-"">Коммерческое предложение.doc (150 кб)</a>
          </div>
          <div>
            <a href="#" title-"">Коммерческое предложение.doc (150 кб)</a>
          </div>
        </div>
      </div>
      <!--end doc block-->
    </div>
    <div class="action-block">
      <div class="buttons-row ">
        <a href="#" title="" class="detail-link-btn blue confirm"><span><i class="ic-confirm"></i></span>Оплатить</a>
      </div>
      <div class="buttons-row ">
        <a href="#" class="detail-link-btn red cancel" title=""><span><i class="ic-cancel"></i></span> Отменить</a>
      </div>
    </div>
  </div>
  <!--order items-->
  <div class="order-items">
    <div class="row">
      <div class="prop-header"><span><i class="ic-order"></i></span>Состав заказа</div>
    </div>
    <div class="order-items-list">
      <div class="table">
        <div class="table-row header-row">
          <div class="table-cell">

          </div>
          <div class="table-cell">
            Услуга или продукт
          </div>
          <div class="table-cell">
            Цена
          </div>
          <div class="table-cell">
            Кол-во
          </div>
          <div class="table-cell">
            Сумма
          </div>
        </div>

        <div class="table-row body-row">
          <div class="table-cell">
            <i class="ic-service"></i>
          </div>
          <div class="table-cell">
            Интернет магазин строительных материалов
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
          <div class="table-cell">
            1
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
        </div>

        <div class="table-row seporat-row">
          <div class="table-cell"></div>
        </div>

        <div class="table-row body-row">
          <div class="table-cell">
            <i class="ic-service"></i>
          </div>
          <div class="table-cell">
            Интернет магазин строительных материалов
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
          <div class="table-cell">
            1
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
        </div>

        <div class="table-row seporat-row">
          <div class="table-cell"></div>
        </div>

        <div class="table-row body-row">
          <div class="table-cell">
            <i class="ic-service"></i>
          </div>
          <div class="table-cell">
            Интернет магазин строительных материалов
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
          <div class="table-cell">
            1
          </div>
          <div class="table-cell">
            23 000 Р
          </div>
        </div>

      </div>
    </div>
    <div class="row footer-row">
      <div class="total-sum-block">
        <span class="text-light">Общая сумма: </span><span class="text-normal">356 000 Р</span>
      </div>
      <div class="nav-block">
        Навигация
      </div>
    </div>
  </div>
  <!--end order items-->
</div>
<!--end component order history detail-->

{% endblock %}
