{% extends './../layouts/master.html' %}
{% block content %}

<div class="section-block text-center">
  <h1 class="section-header">История заявок</h1>
  <div class="section-text">
    Компания Интеллект-Сервис предоставляет полный спектр услуг<br>
    по разработке и поддержке интернет-проектов
  </div>
</div>

<!--start component order history-->
<div class="order-history">
  <div class="sort-row">
    <div class="sort-cell for-id">
      <label for="SORT_ID">ID заказа:</label>
      <input type="text" name="SORT_ID" class="grey-input" value="">
    </div>
    <div class="sort-cell for-date">
      <label for="SORT_DATE">Дата заказа:</label>
      <input type="text" class="grey-input" id="SORT_DATE" name="" value="">
      <span>&mdash;</span>
      <input type="text" class="grey-input" id="SORT_DATE_TO" name="" value="">
    </div>
    <div class="sort-cell for-status">
      <label for="SORT_STATUS">По статусу:</label>
      <select class="selectize-grey" name="">
        <option value="ALL">Все</option>
        <option value="CANCEL">Отмененные</option>
      </select>
    </div>
  </div>
  <div class="order-history-list">
    <!--foreach $arResult-->
      <div class="item">
        <div class="content-item">
          <div class="content-block">
            <div class="table">
              <div class="table-row">
                <div class="table-cell order-id">
                  Заказ № <a href="#" title="">123</a>
                </div>
                <div class="table-cell order-date">
                  от 12.06.2017
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Способ оплаты:
                </div>
                <div class="table-cell order-value">
                  Наличными
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Сумма заказа:
                </div>
                <div class="table-cell order-value">
                  124 000 р
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Способ оплаты:
                </div>
                <div class="table-cell order-value">
                  Наличными
                </div>
              </div>
            </div>
          </div>
          <div class="action-block">
            <div class="action-header">
              Действия с заказом
            </div>
            <div class="row">
              <a href="#" title="" class="detail-link-btn blue i-confirm"><i class="ic-confirm"></i>Оплатить</a>
            </div>
            <div class="row">
              <a href="#" class="detail-link-btn red i-cancel" title=""><i class="ic-cancel"></i>Отменить</a>
            </div>
            <div class="row">
              <a href="#" title="" class="detail-link-btn grey i-detail-circle"><i class="ic-detail-circle"></i>Детали заказа</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content-item">
          <div class="content-block">
            <div class="table">
              <div class="table-row">
                <div class="table-cell order-id">
                  Заказ № <a href="#" title="">123</a>
                </div>
                <div class="table-cell order-date">
                  от 12.06.2017
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Способ оплаты
                </div>
                <div class="table-cell order-value">
                  Наличными
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Сумма заказа
                </div>
                <div class="table-cell order-value">
                  124 000 р
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell order-name">
                  Способ оплаты
                </div>
                <div class="table-cell order-value">
                  Наличными
                </div>
              </div>
            </div>
          </div>
          <div class="action-block">
            <div class="action-header">
              Действия с заказом
            </div>
            <div class="row">
              <a href="#" title="" class="detail-link-btn blue">Оплатить</a>
            </div>
            <div class="row">
              <a href="#" class="detail-link-btn red" title="">Отменить</a>
            </div>
            <div class="row">
              <a href="#" title="" class="detail-link-btn">Детали заказа</a>
            </div>
          </div>
        </div>
      </div>
    <!---endforeach-->
    </div>
  </div>
</div>
<!--end component order history-->
{% endblock %}
