{% extends './../layouts/master.html' %}
{% block content %}
<div class="section-block text-center">
  <h1 class="section-header">Список профилей</h1>

  <div class="section-text">
    Компания Интеллект-Сервис предоставляет полный спектр услуг<br>
    по разработке и поддержке интернет-проектов
  </div>
</div>
  <!--start component profile list-->
  <div class="profile-list">
    <div class="table">
      <div class="table-row header-row">
        <div class="table-cell">

        </div>
        <div class="table-cell">
          Название профиля
        </div>
        <div class="table-cell">
          Тип профиля
        </div>
        <div class="table-cell">
        </div>
      </div>

      <div class="table-row body-row">

        <div class="table-cell">
          ООО название фирмы
        </div>
        <div class="table-cell">
          Юридическое лицо
        </div>
        <div class="table-cell">
          <div class="action-menu">
            <div class="menu-icon">
              <i class="ic-menu"></i>
              <i class="ic-menu-arrow"></i>
            </div>
            <div class="action-menu-block arrow-div">
              <ul>
                <li><a href="#" title="">Подробнее</a></li>
                <li><a href="#" title="">Редактировать</a></li>
                <li><a href="#" title="">Удалить</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="table-row seporat-row">
        <div class="table-cell"></div>
      </div>

      <div class="table-row body-row">

        <div class="table-cell">
          ООО название фирмы
        </div>
        <div class="table-cell">
          Юридическое лицо
        </div>
        <div class="table-cell">
          3
        </div>

      </div>

      <div class="table-row seporat-row">
        <div class="table-cell"></div>
      </div>

      <div class="table-row body-row">

        <div class="table-cell">
          1
        </div>
        <div class="table-cell">
          2
        </div>
        <div class="table-cell">
          3
        </div>

      </div>

    </div>
  </div>

  <!--end component profile list-->

{% endblock %}
