{% extends './../layouts/master.html' %}
{% block content %}

<div class="section-block text-center">
  <h1 class="section-header">Персональные данные</h1>
  <div class="section-text">
    Компания Интеллект-Сервис предоставляет полный спектр услуг<br>
    по разработке и поддержке интернет-проектов
  </div>
</div>

<!--start component personal edit-->
<div class="personal-edit">
  <div class="content-block">
    <div class="left-block">
      <form class="" action="index.html" method="post">
        <div class="personal-form table">
          <div class="table-row">
            <div class="table-cell">
              <label for="LAST_NAME">Фамилия:</label>
            </div>
            <div class="table-cell">
              <input type="text" class="grey-input"  id="LAST_NAME" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="NAME">Имя:</label>
            </div>
            <div class="table-cell">
              <input type="text" class="grey-input"  id="NAME" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="SECOND_NAME">Отчество:</label>
            </div>
            <div class="table-cell">
              <input type="text" class="grey-input"  id="SECOND_NAME" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="NICK_NAME">Обращение:</label>
            </div>
            <div class="table-cell">
              <input type="text" class="grey-input"  id="NICK_NAME" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="LOGIN">Логин:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="text" class="grey-input"  id="LOGIN" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="PHONE">Номер телефона:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="text" class="grey-input"  id="PHONE" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="EMAIL">E-mail:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="text" class="grey-input"  id="EMAIL" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="GENDER">Пол:</label>
            </div>
            <div class="table-cell requare-input">
              <select class="selectize-grey" id="GENDER" name="">
                <option value="MALE">Мужчина</option>
                <option value="FEMALE">Женжчина</option>
              </select>
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="BIRTHDAY">Дата рождения:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="text" class="grey-input"  id="BIRTHDAY" name="" value="">
            </div>
          </div>
          <div class="table-row pass-row-header">
            <div class="table-cell"><h3>Смена пароля</h3></div>
            <div class="table-cell"></div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="PASSWORD">Новый пароль:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="password" class="grey-input"  id="PASSWORD" name="" value="">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <label for="PASSWORD_REPEAT">Повторить пароль:</label>
            </div>
            <div class="table-cell requare-input">
              <input type="password" class="grey-input"  id="PASSWORD_REPEAT" name="" value="">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="right-block">
      <div class="photo-block">
        <h3>Фотография</h3>
        <div class="pic">
          <img src="./images/profile-pic.jpg" alt="">
        </div>
        <div class="upload-input">
          <div class="upload-file">
            <input type="file" name="file-7[]" id="file-7" class="inputfile" data-multiple-caption="{count} files selected" multiple />
  					<label for="file-7"><span></span><strong class="detail-link-btn">Выбрать файл</strong></label>
          </div>
        </div>
      </div>
      <div class="soc-linked">
        <h3>Привязка к социальным сетям</h3>
        <div class="soc-linked-text">
          Привяжите учетную запись социальной сети и используйте ее для авторизации
        </div>
      </div>
    </div>
  </div>
</div>
<!--end component personal edit-->

{% endblock %}
