{% extends './../layouts/master.html' %}
{% block content %}
<h1 class="section-header">Портфолио детальная</h1>

<!--start component portfolio detail-->
<div class="portfolio-detail">
  <div class="main-block">
    <div class="pic-block">
      <a href="#" title="" class="fancybox"><img src="./images/gallery-normal.png" alt=""></a>
    </div>
    <div class="prop-block">
      <div class="props">
        <div class="prop-row">
          <span class="prop-name">Сдача проекта:</span><span class="prop-value">май 2017</span>
        </div>
        <div class="prop-row">
          <!--if array-->
          <div class="prop-name">Состав работ</div>
            <div class="prop-value-list">
              <!--foreach value-->
              <div class="prop-value">Разработка логотипа</div>
              <div class="prop-value">Разработка логотипа</div>
              <div class="prop-value">Разработка логотипа</div>
              <div class="prop-value">Разработка логотипа</div>
              <!--endforeach-->
            </div>
        </div>
        <div class="prop-row project-link">
          <a href="#" title="">site.ru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-formated detail-text">
    <h2>Заголовок 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <figure>
      <img src='./images/gallery-normal.png' alt='missing' />
      <figcaption>Подпись к изображению</figcaption>
  </figure>
  </div>
</div>
<!--end component protfolio detail-->

<!--start component reviews in detail item-->
<div class="reviews-in-detail">
  <h2 class="component-header">Отзыв заказчка</h2>

  <div class="row">
    <div class="reviews-content">
      <img src="./images/reviews-big.png" alt="">
      <div class="props">
        <div class="name">Дмитрий Иванов</div>
        <div class="company">ООО Магнит</div>
        <div class="post">Директор</div>
      </div>

    </div>
    <div class="review-video">
      <iframe src="" width="" height=""></iframe>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="row-detail-link text-center">
      <a href="#" title="" class="detail-link-btn">Отзыв детально</a>
    </div>
  </div>

</div>
<!--end compmonent reviews in detail item-->

<div class="nav-row">
  <div class="left-block nav-block">
    <div class="row">
      <a href="" title=""><i class="ic-arrow-nav-left"></i><span>Предыдущий элемент</span></a>
    </div>
    <div class="row">
      <span class="nav-name">Текст ссылки</span>
    </div>
  </div>
  <div class="right-block nav-block">
    <div class="row">
      <a href="#" title=""><span>Следующий элемент</span><i class="ic-arrow-nav-right"></i></a>
    </div>
    <div class="row">
      <span class="nav-name">Текст ссылки</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="back-link-block">
    <a href="#" title=""><i class="ic-arrow-nav-left"></i>Назад в список проектов</a>
  </div>
  <div class="soc-block">

  </div>
</div>

{% endblock %}
