{% extends './../layouts/master.html' %}
{% block content %}
<h1 class="section-header">Отзыв детально</h1>

<!--start componen reveiws detail-->
<div class="reviews-detail">
  <div class="content-block">
    <div class="pic">
      <img src="./images/reviews-big.png" alt="">
    </div>
    <div class="reviews-props">
      <div class="name">Иванов Иван</div>
      <div class="post">Директор</div>
      <div class="company">ООО Магнит</div>
        <a href="#" title="" class="detail-link-btn">Подробней о проекте</a>
      <div class="date">
        28 июня 2017
      </div>
    </div>
  </div>
  <div class="video-block">

  </div>
  <div class="detail-text text-formated">
    <h2>Заголовок</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<!--end component reviews detail-->
{% endblock %}
