{% extends './../layouts/master.html' %}
{% block content %}
<h1 class="section-header">Услуга детальная</h1>
<!--start component service detail-->
<div class="service-detail">
  <div class="content-block">
    <div class="left-block">
      <div class="pic">

      </div>

      <div class="info-block">
        <div class="row">
          <div class="price">
            Стоймость разработки от: 250 000 Р
          </div>
          <div class="dead-line">
            Срок разработки: от 2 до 3-х месяцев
          </div>
        </div>
      </div>
      <div class="prop-list">
        <ul>
          <li>
            <span><i class="ic-coin"></i></span>Подключение онлайн-оплаты
          </li>
          <li>
            <span><i class="ic-coin"></i></span>Подключение онлайн-оплаты
          </li>
          <li>
            <span><i class="ic-coin"></i></span>Подключение онлайн-оплаты
          </li>
          <li>
            <span><i class="ic-coin"></i></span>Подключение онлайн-оплаты
          </li>
          <li>
            <span><i class="ic-coin"></i></span>Подключение онлайн-оплаты
          </li>          
        </ul>
      </div>
    </div>
    <div class="right-block">
      <div class="form-block">
        <form class="" action="index.html" method="post">
          <div class="row form-header">
            <span>Если Вам или Вашему бизнесу
необходим интернет-магазин,
просто заполните форму и
отправьте заявку</span>
          </div>
          <div class="row">
            <input type="text" class="grey-input" name="" value="">
          </div>
          <div class="row">
            <input type="text" class="grey-input" name="" value="">
          </div>
          <div class="row">
            <input type="text" class="grey-input" name="" value="">
          </div>
          <div class="row">
            <input type="text" class="grey-input" name="" value="">
          </div>
          <div class="row">
            <textarea name="name" class="grey-textarea"></textarea>
          </div>
          <div class="row button-row">
            <button type="submit" class="detail-link-btn" name="button">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="detail-text text-formated">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<!--end component service detail-->
{% endblock %}
