{% extends './../layouts/master.html' %}
{% block content %}

<h1 class="section-header">Решение детальное</h1>
<!--start component solution detail-->
<div class="solution-detail">
  <div class="main-block">
    <div class="video-block">
      <iframe src="" width="" height=""></iframe>
    </div>
    <div class="info-block promo-sold">
      <div class="price-row">
        <div class="price">
          <div class="cur-price">Цена от: 29 999 Р</div>
          <div class="old-price">33 000 Р</div>
        </div>

      </div>
      <div class="price-descr">
        Цена указана за базовую поставку
        из Marketplace без учета стоимости
        редакции CMS 1-С Битрикс,
        хостинга, домена и настройки
        магазина
      </div>
      <div class="link-row">
        <div class="row">
          <a href="#" class="detail-link-btn blue">Онлайн демо</a>
        </div>
        <div class="row">
          <a href="#" class="detail-link-btn green">Онлайн демо</a>
        </div>
        <div class="row">
          <a href="#" class="detail-link-btn red">Онлайн демо</a>
        </div>
      </div>
    </div>
  </div>
  <div class="soc-row">
    <div class="count-block">
      <i class="ic-count"></i>Количество внедрений: 12
    </div>
    <div class="soc-block">

    </div>
  </div>

  <div class="pager-block">
    <div class="switch-row">
      <a href="#" title="" id="advantage" class="selected">Преимущества</a>
      <a href="#" title="" id="characteristics">Характеристики</a>
      <a href="#" title="" id="description">Описание</a>
      <a href="#" title="">Галерея</a>
      <a href="#" title="">Отзывы</a>
    </div>
    <div class="switch-content">
      <!--start advantage-->
      <div class="advantage">
        <div class="advantage-list">
          <!--foreach $arResult-->
          <div class="item">
            <div class="pic">
              <a href="#" title=""><img src="./images/adv-img.png" alt=""></a>
            </div>
            <div class="item-content">
              <div class="name"><a href="#" title="">Адаптивный дизайн</a></div>
              <div class="text">Сайт отлично выглядит на любых размерах экранах, функциональные блоки автоматически перестраиваются для наилучшего отображения</div>
              <a href="#" title="" class="detail-link">Подробнее</a>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <a href="#" title=""><img src="./images/adv-img.png" alt=""></a>
            </div>
            <div class="item-content">
              <div class="name"><a href="#" title="">Адаптивный дизайн</a></div>
              <div class="text">Сайт отлично выглядит на любых размерах экранах, функциональные блоки автоматически перестраиваются для наилучшего отображения</div>
              <a href="#" title="" class="detail-link">Подробнее</a>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <a href="#" title=""><img src="./images/adv-img.png" alt=""></a>
            </div>
            <div class="item-content">
              <div class="name"><a href="#" title="">Адаптивный дизайн</a></div>
              <div class="text">Сайт отлично выглядит на любых размерах экранах, функциональные блоки автоматически перестраиваются для наилучшего отображения</div>
              <a href="#" title="" class="detail-link">Подробнее</a>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <a href="#" title=""><img src="./images/adv-img.png" alt=""></a>
            </div>
            <div class="item-content">
              <div class="name"><a href="#" title="">Адаптивный дизайн</a></div>
              <div class="text">Сайт отлично выглядит на любых размерах экранах, функциональные блоки автоматически перестраиваются для наилучшего отображения</div>
            </div>
          </div>
          <!--endforeach-->
        </div>
      </div>
      <!--end advantage-->

      <!--start characteristics-->

      <div class="characteristics">
        <div class="table">
          <div class="table-row">
            <div class="table-cell">property name</div>
            <div class="table-cell">property value</div>
          </div>
          <div class="table-row">
            <div class="table-cell">property name</div>
            <div class="table-cell">property value</div>
          </div>
          <div class="table-row">
            <div class="table-cell">property name</div>
            <div class="table-cell">property value</div>
          </div>
          <div class="table-row">
            <div class="table-cell">property name</div>
            <div class="table-cell">property value</div>
          </div>
        </div>
      </div>
      <!--end characteristics-->

      <!--start description-->
      <div class="description text-formated">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2>Заголовок 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul>
          <li>Список</li>
        </ul>
        <ol>
          <li>Список</li>
        </ol>
      </div>
      <!--end description-->

      <!--start gallery-->
      <div class="gallery">

        <ul class="bxslider">
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
          <li><img src="./images/gallery-normal.png" /></li>
        </ul>

        <div class="bx-pager">
          <a data-slide-index="0" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="1" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="2" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="3" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="4" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="5" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="6" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="7" href="" style="background-image:url(./images/gallery-min.png)"></a>
          <a data-slide-index="8" href="" style="background-image:url(./images/gallery-min.png)"></a>
        </div>

      </div>
      <!--end gallery-->

      <!--start component top reviews-->
      <div class="reviews top-reviews">
        <div class="reviews-list">
          <!--foreach $arResult-->
          {% for review in reviews %}
          <div class="item">
            <div class="item-wrapper">
              <div class="pic">
                <a href="#" title=""><img src="{{ review.img }}" alt=""></a>
              </div>
              <div class="name">
                <a href="#" title="">{{ review.name }}</a>
              </div>
              <div class="company">
                {{ review.company }}
              </div>
              <div class="text">
                {{ review.text }}
              </div>
              <div class="row text-center">
                <a href="#" class="detail-link-btn" title="">Подробнее</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!--end foreach-->
        </div>
      </div>
      <!--end component top reviews-->
    </div>
  </div>

  <div class="order-variant">
    <h2 class="component-header">Что выбрать? Заказную разработку или готовое решение?</h2>

    <div class="table">
      <div class="table-row header-row">
        <div class="table-cell">

        </div>
        <div class="table-cell">
          Заказная разработка
        </div>
        <div class="table-cell">
          Готовое решение
        </div>
      </div>
      <div class="table-row body-row">
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
      </div>
      <div class="table-row body-row">
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
      </div>
      <div class="table-row body-row">
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
        <div class="table-cell">
          Срок разаротки и запуска
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="detail-link-btn red">Заказать внедрение</button>
    </div>
  </div>

</div>
<!--end component solution detail-->


<!--start component portfolio top-->
<div class="portfolio-top portfolio">
  <h2 class="component-header">Реализованные проекты на данном решении</h2>
  <div class="portfolio-top-list portfolio-list">
    <!--foreach $arResult-->
    {% for item in items %}
    <div class="item">
      <div class="item-pic-wrapper" style="background-image:url({{ item.img }})">
        <a class="item-content" href="">
          <div class="name">
            {{ item.name }}
          </div>
          <div class="text">
            {{ item.text }}
          </div>
          <div class="detail-row">
            <span class="date">
              {{ item.date }}
            </span>
            <span class="see-detail" title="">Подробнее</span>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    <!--endforeach-->
  </div>
  <div class="row text-center">
    <span class="add-more-item">еще +3 проекта</span>
  </div>
</div>
<!--end component portfolio top-->
<div class="soc-block text-center">
  <span class="soc-text">Понравилось решение? Расскажи друзьям!</span>
</div>

<!--start component top solution-->
<div class="solution-item top-solution">
  <h2 class="component-header">Другие готовые решения на 1-С Битрикс</h2>
  <div class="solution-item-list">
    <!--foreach $arResult-->
    {% for item in itemsSolution %}
    <div class="item {{item.promo}}">
      <a class="item-pic-wrapper" style="background-image:url({{item.img}})" title="" href="./solution-detail.html">
        <div class="text">
          {{ item.text }}
        </div>
      </a>
      <div class="name">
        <a title="./solution-detail.html" href="">{{item.name}}</a>
      </div>
      <div class="detail-row">
        <span class="price">от 23 000 Р</span>
        <span class="download-count"><i class="ic-download"></i> 12</span>
      </div>
    </div>
    {% endfor %}
    <!--endforeach-->
  </div>
  <div class="detail-link-row text-center">
    <a href="#" title="" class="link-detail">Все готовые решения</a>
  </div>
</div>
<!--end component top solution-->
{% endblock %}
