<div class="header-row row table">
 <div class="drawer-hamburger"></div>
  <div class="logo-block table-cell">
    <div class="logo ">
      <a href="/" title="Интеллект-Cервис">
        <img src="./images/logo.png" alt="Интеллект-Cервис">
        <span class="logo-content">
          <span class="logo-text">Интеллект-Сервис</span>
          <span class="logo-slogan">умные технологии для бизнеса</span>
        </span>
      </a>
    </div>
  </div>
  <div class="search-block table-cell">
    <div class="search">
      <div class="search-inputs">
        <form class="" action="index.html" method="post">
          <input type="text" name="" placeholder="Найдите материал или нужную услугу" value="">
          <button type="submit" class="search-btn" name="search"><i class="ic-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="user-block table-cell">
    <a href="#" title="Оставить заявку" class="dialog-link"><i class="ic-dialog"></i><span>Оставить заявку</span></a>
    <a href="#" class="login-link" title="Вход для клиентов"><i class="ic-key"></i><em>Вход</em> <span>для клиентов</span></a>
  </div>
</div>

<div id="simpleDrawer" style="display:none">

    <div id="drawer-scroll-wrapper">
      <ul>
        <li><a href="#">menu item1</a></li>
        <li><a href="#">menu item2</a></li>
        <li><a href="#">menu item3</a></li>
        <li><a href="#">menu item4</a></li>
        <li><a href="#">menu item5</a></li>
        <li><a href="#">menu item6</a></li>
        <li><a href="#">menu item7</a></li>
        <li><a href="#">menu item8</a></li>
        <li><a href="#">menu item9</a></li>
        <li><a href="#">menu item10</a></li>
        <li><a href="#">menu item1</a></li>
        <li><a href="#">menu item2</a></li>
        <li><a href="#">menu item3</a></li>
        <li><a href="#">menu item4</a></li>
        <li><a href="#">menu item5</a></li>
        <li><a href="#">menu item6</a></li>
        <li><a href="#">menu item7</a></li>
        <li><a href="#">menu item8</a></li>
        <li><a href="#">menu item9</a></li>
        <li><a href="#">menu item10</a></li>
        <li><a href="#">menu item1</a></li>
        <li><a href="#">menu item2</a></li>
        <li><a href="#">menu item3</a></li>
        <li><a href="#">menu item4</a></li>
        <li><a href="#">menu item5</a></li>
        <li><a href="#">menu item6</a></li>
        <li><a href="#">menu item7</a></li>
        <li><a href="#">menu item8</a></li>
        <li><a href="#">menu item9</a></li>
        <li><a href="#">menu item10</a></li>
        <li><a href="#">menu item1</a></li>
        <li><a href="#">menu item2</a></li>
        <li><a href="#">menu item3</a></li>
        <li><a href="#">menu item4</a></li>
        <li><a href="#">menu item5</a></li>
        <li><a href="#">menu item6</a></li>
        <li><a href="#">menu item7</a></li>
        <li><a href="#">menu item8</a></li>
        <li><a href="#">menu item9</a></li>
        <li><a href="#">menu item10</a></li>
        <li><a href="#">menu item1</a></li>
        <li><a href="#">menu item2</a></li>
        <li><a href="#">menu item3</a></li>
        <li><a href="#">menu item4</a></li>
        <li><a href="#">menu item5</a></li>
        <li><a href="#">menu item6</a></li>
        <li><a href="#">menu item7</a></li>
        <li><a href="#">menu item8</a></li>
        <li><a href="#">menu item9</a></li>
        <li><a href="#">menu item10</a></li>
      </ul>
    </div>
</div>
