<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- libs:css -->
  <link rel="stylesheet" href="./libs/bxslider/src/jquery.bxslider.css">
  <link rel="stylesheet" href="./libs/fancybox/css/jquery.fancybox.css">
  <link rel="stylesheet" href="./libs/msgBox/css/lobibox.min.css">
  <link rel="stylesheet" href="./libs/slick/css/slick.css">
  <!-- endinject -->
  <!-- dev:css -->
  <link rel="stylesheet" href="./css/screen.css">
  <!-- endinject -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
  <div class="wrapper">
	  {% include '../layouts/header.html' %}
  </div>
  </header>

  <main>
  <div class="wrapper">
    {% include '../layouts/sidebar.html' %}
    <div class="content">
      {% include '../components/breadcrumbs.html' %}
      {% block content %}{% endblock %}
    </div>
    <div class="push"></div>
  </div>
  </main>
  <footer>
    <div class="wrapper">
      {% include '../layouts/footer.html' %}
    </div>
  </footer>
  <script src="./libs/jquery/js/jquery.min.js"></script>
  <!--libs:js-->

  <script src="./libs/bxslider/js/jquery.bxslider.js"></script>

  <script src="./libs/drawer/js/simpleDrawer.js"></script>

  <script src="./libs/fancybox/js/jquery.fancybox.pack.js"></script>

  <script src="./libs/formValidator/js/jquery.form-validator.min.js"></script>

  <script src="./libs/icheck/js/icheck.min.js"></script>

  <script src="./libs/msgBox/js/lobibox.min.js"></script>

  <script src="./libs/select/js/selectize.min.js"></script>

  <script src="./libs/slick/js/slick.min.js"></script>

  <script src="./libs/vtip/js/vtip.js"></script>

  <!--endinject-->
  <!--dev:js-->

  <script src="./js/all.js"></script>

  <!--endinject-->
  </div>
</body>


</html>
