<aside>
  <!--start component left menu-->
  <div class="left-menu">
    <ul>
      <li>
        <a href="/" title="" class="selected">
        <span>
          <i class="item-icon" style="background-image:url(./images/ic-menu-service.png);width:25px;height:22px;"></i></span>
          Услуги</a>
        <ul>
          <li><a href="/solution-items.html" title="Разработка сайтов">Разработка сайтов</a></li>
          <li><a href="/solution-items.html" title="Разработка мобильных приложений">Разработка мобильных приложений</a></li>
          <li><a href="/solution-items.html" title="Брендинг">Брендинг</a></li>
          <li><a href="/solution-items.html" title="Создание контента">Создание контента</a></li>
          <li><a href="/solution-items.html" title="Поддержка проектов">Поддержка проектов</a></li>
          <li><a href="/solution-items.html" title="Внедрение CRM">Внедрение CRM</a></li>
        </ul>
      </li>
      <li>
        <a href="/solutions.html" title="Готовые решения">
          <span><i class="item-icon" style="background-image:url(./images/ic-menu-done.png);width:24px;height:20px;"></i></span>
        Готовые решения
        </a>
      </li>
      <li>
        <a href="/portfolio.html" title="Портфолио">
          <span><i class="item-icon" style="background-image:url(./images/ic-menu-portfolio.png);width:24px;height:21px;"></i></span>
        Портфолио
      </a>
      </li>
      <li>
        <a href="#" title="">
          <span><i class="item-icon" style="background-image:url(./images/ic-menu-base.png);width:23px;height:26px;"></i></span>
        База знаний
      </a>
      </li>
      <li>
        <a href="/about.html" title="Готовые решения">
          <span><i class="item-icon" style="background-image:url(./images/ic-menu-company.png);width:25px;height:25px;"></i></span>
        Компания
      </a>
      </li>
      <li>
        <a href="#" title="Магазин ПО">
          <span><i class="item-icon" style="background-image:url(./images/ic-menu-store.png);width:25px;height:22px;"></i></span>
        Магазин ПО
      </a>
      </li>
    </ul>
  </div>
  <!--end component left menu-->
  <div class="contact-block">
    <ul class="city-list">
      <li>
        <span class="city-name">Краснодар</span>
        <span class="city-phone">+7 (900) <b>123-45-67</b></span>
      </li>
      <li>
        <span class="city-name">Сочи</span>
        <span class="city-phone">+7 (900) <b>123-45-67</b></span>
      </li>
      <li>
        <span class="city-name">Севастополь</span>
        <span class="city-phone">+7 (900) <b>123-45-67</b></span>
      </li>
    </ul>
    <div class="callback-block">
      <a href="#" title="Заказать обратный звонок" class="callback-link">Заказать обратный звонок</a>
    </div>
    <div class="mail-block">
      <a href="mailto:info@intellect-service.pro" class="mail-to" title="info@intellect-service.pro">info@intellect-service.pro</a>
    </div>
  </div>
  <div class="soc-block">
    <span>Следите за нами в соц. сетях</span>
    <ul>
      <li><a href="#" title=""><i class="ic-vk"></i></a></li>
      <li><a href="#" title=""><i class="ic-f"></i></a></li>
      <li><a href="#" title=""><i class="ic-inst"></i></a></li>
      <li><a href="#" title=""><i class="ic-you"></i></a></li>
      <li><a href="#" title=""><i class="ic-in"></i></a></li>
    </ul>
  </div>
</aside>
