.service{
  .service-list{
    display: flex;
    flex-wrap: wrap;
    .item{
      @include span(1 of 3 0.02);
      margin-bottom: 5px;
      background-size: contaier;
      background-position: center right;
      background-repeat: no-repeat;
      background-color: #f5f5f5;
      position: relative;
      &:hover{
        background-color: #d6f0f3;
      }
      &:nth-child(3n+3){
        @include span(1 of 3 0.02 last);
      }
      .item-wrapper{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        .name{
          margin-bottom: 20px;
          a{
            text-decoration: none;
            color: $color-dark;
            font-weight: 600;
            &:hover{
              color: $link-hover-color;
              .item-icon{
                background-position: 0 100%;
              }
            }
            >*{
              display: inline-block;
              vertical-align: middle;
            }
            .wrapper-icon{
              margin-right: 10px;
            }
          }
        }
        .text{
          margin-left: 40px;
          >div{
            margin-bottom: 7px;
            a{
              text-decoration: none;
              color: $color-dark;
              font-weight: 100;
              &:hover{
                color: $link-hover-color;
              }
            }
          }
        }
      }
    }
  }
  &.solutions{
    .service-list{
      .item{
        position: relative;
        padding-bottom: 15px;
        .item-wrapper{
          position: relative;
          box-sizing: border-box;
          .name{
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted;
          }
          .text{
            margin: 0;
            font-size: 0.95rem;
            //font-weight: 100;
            line-height: 1.2rem;
            color: $color-dark;
            padding-bottom: 50px;
            margin-bottom: 20px;
          }
        }
        .item-footer{
          position: absolute;
          bottom: 15px;
          margin: auto;
          width: 100%;
          text-align: center;
          box-sizing: border-box;
          padding-left: 15px;
          padding-right: 15px;
          .count-views{
            margin-bottom: 20px;
            padding-top: 10px;
            border-top: 1px dotted;
            font-weight: 100;
          }
        }
      }
    }
  }
}
