$ic-count-name: 'ic-count';
$ic-count-x: 140px;
$ic-count-y: 116px;
$ic-count-offset-x: -140px;
$ic-count-offset-y: -116px;
$ic-count-width: 22px;
$ic-count-height: 22px;
$ic-count-total-width: 189px;
$ic-count-total-height: 169px;
$ic-count-image: '../images/sprite.png';
$ic-count: (140px, 116px, -140px, -116px, 22px, 22px, 189px, 169px, '../images/sprite.png', 'ic-count', );
$ic-dialog-hover-name: 'ic-dialog-hover';
$ic-dialog-hover-x: 58px;
$ic-dialog-hover-y: 140px;
$ic-dialog-hover-offset-x: -58px;
$ic-dialog-hover-offset-y: -140px;
$ic-dialog-hover-width: 21px;
$ic-dialog-hover-height: 20px;
$ic-dialog-hover-total-width: 189px;
$ic-dialog-hover-total-height: 169px;
$ic-dialog-hover-image: '../images/sprite.png';
$ic-dialog-hover: (58px, 140px, -58px, -140px, 21px, 20px, 189px, 169px, '../images/sprite.png', 'ic-dialog-hover', );
$ic-dialog-name: 'ic-dialog';
$ic-dialog-x: 79px;
$ic-dialog-y: 140px;
$ic-dialog-offset-x: -79px;
$ic-dialog-offset-y: -140px;
$ic-dialog-width: 21px;
$ic-dialog-height: 20px;
$ic-dialog-total-width: 189px;
$ic-dialog-total-height: 169px;
$ic-dialog-image: '../images/sprite.png';
$ic-dialog: (79px, 140px, -79px, -140px, 21px, 20px, 189px, 169px, '../images/sprite.png', 'ic-dialog', );
$ic-download-name: 'ic-download';
$ic-download-x: 169px;
$ic-download-y: 62px;
$ic-download-offset-x: -169px;
$ic-download-offset-y: -62px;
$ic-download-width: 13px;
$ic-download-height: 13px;
$ic-download-total-width: 189px;
$ic-download-total-height: 169px;
$ic-download-image: '../images/sprite.png';
$ic-download: (169px, 62px, -169px, -62px, 13px, 13px, 189px, 169px, '../images/sprite.png', 'ic-download', );
$ic-f-hover-name: 'ic-f-hover';
$ic-f-hover-x: 140px;
$ic-f-hover-y: 58px;
$ic-f-hover-offset-x: -140px;
$ic-f-hover-offset-y: -58px;
$ic-f-hover-width: 29px;
$ic-f-hover-height: 29px;
$ic-f-hover-total-width: 189px;
$ic-f-hover-total-height: 169px;
$ic-f-hover-image: '../images/sprite.png';
$ic-f-hover: (140px, 58px, -140px, -58px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-f-hover', );
$ic-f-name: 'ic-f';
$ic-f-x: 140px;
$ic-f-y: 87px;
$ic-f-offset-x: -140px;
$ic-f-offset-y: -87px;
$ic-f-width: 29px;
$ic-f-height: 29px;
$ic-f-total-width: 189px;
$ic-f-total-height: 169px;
$ic-f-image: '../images/sprite.png';
$ic-f: (140px, 87px, -140px, -87px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-f', );
$ic-in-hover-name: 'ic-in-hover';
$ic-in-hover-x: 99px;
$ic-in-hover-y: 70px;
$ic-in-hover-offset-x: -99px;
$ic-in-hover-offset-y: -70px;
$ic-in-hover-width: 29px;
$ic-in-hover-height: 29px;
$ic-in-hover-total-width: 189px;
$ic-in-hover-total-height: 169px;
$ic-in-hover-image: '../images/sprite.png';
$ic-in-hover: (99px, 70px, -99px, -70px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-in-hover', );
$ic-in-name: 'ic-in';
$ic-in-x: 70px;
$ic-in-y: 99px;
$ic-in-offset-x: -70px;
$ic-in-offset-y: -99px;
$ic-in-width: 29px;
$ic-in-height: 29px;
$ic-in-total-width: 189px;
$ic-in-total-height: 169px;
$ic-in-image: '../images/sprite.png';
$ic-in: (70px, 99px, -70px, -99px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-in', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 99px;
$ic-inst-hover-y: 99px;
$ic-inst-hover-offset-x: -99px;
$ic-inst-hover-offset-y: -99px;
$ic-inst-hover-width: 29px;
$ic-inst-hover-height: 29px;
$ic-inst-hover-total-width: 189px;
$ic-inst-hover-total-height: 169px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (99px, 99px, -99px, -99px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 70px;
$ic-inst-y: 70px;
$ic-inst-offset-x: -70px;
$ic-inst-offset-y: -70px;
$ic-inst-width: 29px;
$ic-inst-height: 29px;
$ic-inst-total-width: 189px;
$ic-inst-total-height: 169px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (70px, 70px, -70px, -70px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-inst', );
$ic-key-hover-name: 'ic-key-hover';
$ic-key-hover-x: 169px;
$ic-key-hover-y: 21px;
$ic-key-hover-offset-x: -169px;
$ic-key-hover-offset-y: -21px;
$ic-key-hover-width: 20px;
$ic-key-hover-height: 21px;
$ic-key-hover-total-width: 189px;
$ic-key-hover-total-height: 169px;
$ic-key-hover-image: '../images/sprite.png';
$ic-key-hover: (169px, 21px, -169px, -21px, 20px, 21px, 189px, 169px, '../images/sprite.png', 'ic-key-hover', );
$ic-key-name: 'ic-key';
$ic-key-x: 169px;
$ic-key-y: 0px;
$ic-key-offset-x: -169px;
$ic-key-offset-y: 0px;
$ic-key-width: 20px;
$ic-key-height: 21px;
$ic-key-total-width: 189px;
$ic-key-total-height: 169px;
$ic-key-image: '../images/sprite.png';
$ic-key: (169px, 0px, -169px, 0px, 20px, 21px, 189px, 169px, '../images/sprite.png', 'ic-key', );
$ic-promo-hit-name: 'ic-promo-hit';
$ic-promo-hit-x: 0px;
$ic-promo-hit-y: 0px;
$ic-promo-hit-offset-x: 0px;
$ic-promo-hit-offset-y: 0px;
$ic-promo-hit-width: 70px;
$ic-promo-hit-height: 70px;
$ic-promo-hit-total-width: 189px;
$ic-promo-hit-total-height: 169px;
$ic-promo-hit-image: '../images/sprite.png';
$ic-promo-hit: (0px, 0px, 0px, 0px, 70px, 70px, 189px, 169px, '../images/sprite.png', 'ic-promo-hit', );
$ic-promo-new-name: 'ic-promo-new';
$ic-promo-new-x: 70px;
$ic-promo-new-y: 0px;
$ic-promo-new-offset-x: -70px;
$ic-promo-new-offset-y: 0px;
$ic-promo-new-width: 70px;
$ic-promo-new-height: 70px;
$ic-promo-new-total-width: 189px;
$ic-promo-new-total-height: 169px;
$ic-promo-new-image: '../images/sprite.png';
$ic-promo-new: (70px, 0px, -70px, 0px, 70px, 70px, 189px, 169px, '../images/sprite.png', 'ic-promo-new', );
$ic-promo-sold-name: 'ic-promo-sold';
$ic-promo-sold-x: 0px;
$ic-promo-sold-y: 70px;
$ic-promo-sold-offset-x: 0px;
$ic-promo-sold-offset-y: -70px;
$ic-promo-sold-width: 70px;
$ic-promo-sold-height: 70px;
$ic-promo-sold-total-width: 189px;
$ic-promo-sold-total-height: 169px;
$ic-promo-sold-image: '../images/sprite.png';
$ic-promo-sold: (0px, 70px, 0px, -70px, 70px, 70px, 189px, 169px, '../images/sprite.png', 'ic-promo-sold', );
$ic-search-name: 'ic-search';
$ic-search-x: 169px;
$ic-search-y: 42px;
$ic-search-offset-x: -169px;
$ic-search-offset-y: -42px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 189px;
$ic-search-total-height: 169px;
$ic-search-image: '../images/sprite.png';
$ic-search: (169px, 42px, -169px, -42px, 20px, 20px, 189px, 169px, '../images/sprite.png', 'ic-search', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 29px;
$ic-vk-hover-y: 140px;
$ic-vk-hover-offset-x: -29px;
$ic-vk-hover-offset-y: -140px;
$ic-vk-hover-width: 29px;
$ic-vk-hover-height: 29px;
$ic-vk-hover-total-width: 189px;
$ic-vk-hover-total-height: 169px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (29px, 140px, -29px, -140px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 140px;
$ic-vk-y: 29px;
$ic-vk-offset-x: -140px;
$ic-vk-offset-y: -29px;
$ic-vk-width: 29px;
$ic-vk-height: 29px;
$ic-vk-total-width: 189px;
$ic-vk-total-height: 169px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (140px, 29px, -140px, -29px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-vk', );
$ic-you-hover-name: 'ic-you-hover';
$ic-you-hover-x: 0px;
$ic-you-hover-y: 140px;
$ic-you-hover-offset-x: 0px;
$ic-you-hover-offset-y: -140px;
$ic-you-hover-width: 29px;
$ic-you-hover-height: 29px;
$ic-you-hover-total-width: 189px;
$ic-you-hover-total-height: 169px;
$ic-you-hover-image: '../images/sprite.png';
$ic-you-hover: (0px, 140px, 0px, -140px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-you-hover', );
$ic-you-name: 'ic-you';
$ic-you-x: 140px;
$ic-you-y: 0px;
$ic-you-offset-x: -140px;
$ic-you-offset-y: 0px;
$ic-you-width: 29px;
$ic-you-height: 29px;
$ic-you-total-width: 189px;
$ic-you-total-height: 169px;
$ic-you-image: '../images/sprite.png';
$ic-you: (140px, 0px, -140px, 0px, 29px, 29px, 189px, 169px, '../images/sprite.png', 'ic-you', );
$we-name: 'we';
$we-x: 169px;
$we-y: 75px;
$we-offset-x: -169px;
$we-offset-y: -75px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 189px;
$we-total-height: 169px;
$we-image: '../images/sprite.png';
$we: (169px, 75px, -169px, -75px, 9px, 9px, 189px, 169px, '../images/sprite.png', 'we', );
$spritesheet-width: 189px;
$spritesheet-height: 169px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-count, $ic-dialog-hover, $ic-dialog, $ic-download, $ic-f-hover, $ic-f, $ic-in-hover, $ic-in, $ic-inst-hover, $ic-inst, $ic-key-hover, $ic-key, $ic-promo-hit, $ic-promo-new, $ic-promo-sold, $ic-search, $ic-vk-hover, $ic-vk, $ic-you-hover, $ic-you, $we, );
$spritesheet: (189px, 169px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
