$ic-add-hover-name: 'ic-add-hover';
$ic-add-hover-x: 198px;
$ic-add-hover-y: 173px;
$ic-add-hover-offset-x: -198px;
$ic-add-hover-offset-y: -173px;
$ic-add-hover-width: 15px;
$ic-add-hover-height: 15px;
$ic-add-hover-total-width: 231px;
$ic-add-hover-total-height: 217px;
$ic-add-hover-image: '../images/sprite.png';
$ic-add-hover: (198px, 173px, -198px, -173px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-add-hover', );
$ic-add-name: 'ic-add';
$ic-add-x: 123px;
$ic-add-y: 100px;
$ic-add-offset-x: -123px;
$ic-add-offset-y: -100px;
$ic-add-width: 15px;
$ic-add-height: 15px;
$ic-add-total-width: 231px;
$ic-add-total-height: 217px;
$ic-add-image: '../images/sprite.png';
$ic-add: (123px, 100px, -123px, -100px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-add', );
$ic-arrow-dotted-name: 'ic-arrow-dotted';
$ic-arrow-dotted-x: 198px;
$ic-arrow-dotted-y: 62px;
$ic-arrow-dotted-offset-x: -198px;
$ic-arrow-dotted-offset-y: -62px;
$ic-arrow-dotted-width: 14px;
$ic-arrow-dotted-height: 26px;
$ic-arrow-dotted-total-width: 231px;
$ic-arrow-dotted-total-height: 217px;
$ic-arrow-dotted-image: '../images/sprite.png';
$ic-arrow-dotted: (198px, 62px, -198px, -62px, 14px, 26px, 231px, 217px, '../images/sprite.png', 'ic-arrow-dotted', );
$ic-arrow-nav-left-name: 'ic-arrow-nav-left';
$ic-arrow-nav-left-x: 0px;
$ic-arrow-nav-left-y: 194px;
$ic-arrow-nav-left-offset-x: 0px;
$ic-arrow-nav-left-offset-y: -194px;
$ic-arrow-nav-left-width: 16px;
$ic-arrow-nav-left-height: 12px;
$ic-arrow-nav-left-total-width: 231px;
$ic-arrow-nav-left-total-height: 217px;
$ic-arrow-nav-left-image: '../images/sprite.png';
$ic-arrow-nav-left: (0px, 194px, 0px, -194px, 16px, 12px, 231px, 217px, '../images/sprite.png', 'ic-arrow-nav-left', );
$ic-arrow-nav-right-name: 'ic-arrow-nav-right';
$ic-arrow-nav-right-x: 16px;
$ic-arrow-nav-right-y: 194px;
$ic-arrow-nav-right-offset-x: -16px;
$ic-arrow-nav-right-offset-y: -194px;
$ic-arrow-nav-right-width: 16px;
$ic-arrow-nav-right-height: 12px;
$ic-arrow-nav-right-total-width: 231px;
$ic-arrow-nav-right-total-height: 217px;
$ic-arrow-nav-right-image: '../images/sprite.png';
$ic-arrow-nav-right: (16px, 194px, -16px, -194px, 16px, 12px, 231px, 217px, '../images/sprite.png', 'ic-arrow-nav-right', );
$ic-attach-name: 'ic-attach';
$ic-attach-x: 151px;
$ic-attach-y: 169px;
$ic-attach-offset-x: -151px;
$ic-attach-offset-y: -169px;
$ic-attach-width: 14px;
$ic-attach-height: 14px;
$ic-attach-total-width: 231px;
$ic-attach-total-height: 217px;
$ic-attach-image: '../images/sprite.png';
$ic-attach: (151px, 169px, -151px, -169px, 14px, 14px, 231px, 217px, '../images/sprite.png', 'ic-attach', );
$ic-badge-1-name: 'ic-badge-1';
$ic-badge-1-x: 140px;
$ic-badge-1-y: 0px;
$ic-badge-1-offset-x: -140px;
$ic-badge-1-offset-y: 0px;
$ic-badge-1-width: 29px;
$ic-badge-1-height: 29px;
$ic-badge-1-total-width: 231px;
$ic-badge-1-total-height: 217px;
$ic-badge-1-image: '../images/sprite.png';
$ic-badge-1: (140px, 0px, -140px, 0px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-badge-1', );
$ic-badge-2-name: 'ic-badge-2';
$ic-badge-2-x: 140px;
$ic-badge-2-y: 29px;
$ic-badge-2-offset-x: -140px;
$ic-badge-2-offset-y: -29px;
$ic-badge-2-width: 29px;
$ic-badge-2-height: 29px;
$ic-badge-2-total-width: 231px;
$ic-badge-2-total-height: 217px;
$ic-badge-2-image: '../images/sprite.png';
$ic-badge-2: (140px, 29px, -140px, -29px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-badge-2', );
$ic-buyer-name: 'ic-buyer';
$ic-buyer-x: 169px;
$ic-buyer-y: 115px;
$ic-buyer-offset-x: -169px;
$ic-buyer-offset-y: -115px;
$ic-buyer-width: 25px;
$ic-buyer-height: 27px;
$ic-buyer-total-width: 231px;
$ic-buyer-total-height: 217px;
$ic-buyer-image: '../images/sprite.png';
$ic-buyer: (169px, 115px, -169px, -115px, 25px, 27px, 231px, 217px, '../images/sprite.png', 'ic-buyer', );
$ic-cancel-hover-name: 'ic-cancel-hover';
$ic-cancel-hover-x: 100px;
$ic-cancel-hover-y: 122px;
$ic-cancel-hover-offset-x: -100px;
$ic-cancel-hover-offset-y: -122px;
$ic-cancel-hover-width: 15px;
$ic-cancel-hover-height: 15px;
$ic-cancel-hover-total-width: 231px;
$ic-cancel-hover-total-height: 217px;
$ic-cancel-hover-image: '../images/sprite.png';
$ic-cancel-hover: (100px, 122px, -100px, -122px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-cancel-hover', );
$ic-cancel-name: 'ic-cancel';
$ic-cancel-x: 115px;
$ic-cancel-y: 122px;
$ic-cancel-offset-x: -115px;
$ic-cancel-offset-y: -122px;
$ic-cancel-width: 15px;
$ic-cancel-height: 15px;
$ic-cancel-total-width: 231px;
$ic-cancel-total-height: 217px;
$ic-cancel-image: '../images/sprite.png';
$ic-cancel: (115px, 122px, -115px, -122px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-cancel', );
$ic-coin-name: 'ic-coin';
$ic-coin-x: 50px;
$ic-coin-y: 169px;
$ic-coin-offset-x: -50px;
$ic-coin-offset-y: -169px;
$ic-coin-width: 22px;
$ic-coin-height: 21px;
$ic-coin-total-width: 231px;
$ic-coin-total-height: 217px;
$ic-coin-image: '../images/sprite.png';
$ic-coin: (50px, 169px, -50px, -169px, 22px, 21px, 231px, 217px, '../images/sprite.png', 'ic-coin', );
$ic-confirm-hover-name: 'ic-confirm-hover';
$ic-confirm-hover-x: 70px;
$ic-confirm-hover-y: 122px;
$ic-confirm-hover-offset-x: -70px;
$ic-confirm-hover-offset-y: -122px;
$ic-confirm-hover-width: 15px;
$ic-confirm-hover-height: 15px;
$ic-confirm-hover-total-width: 231px;
$ic-confirm-hover-total-height: 217px;
$ic-confirm-hover-image: '../images/sprite.png';
$ic-confirm-hover: (70px, 122px, -70px, -122px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-confirm-hover', );
$ic-confirm-name: 'ic-confirm';
$ic-confirm-x: 85px;
$ic-confirm-y: 122px;
$ic-confirm-offset-x: -85px;
$ic-confirm-offset-y: -122px;
$ic-confirm-width: 15px;
$ic-confirm-height: 15px;
$ic-confirm-total-width: 231px;
$ic-confirm-total-height: 217px;
$ic-confirm-image: '../images/sprite.png';
$ic-confirm: (85px, 122px, -85px, -122px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-confirm', );
$ic-count-name: 'ic-count';
$ic-count-x: 145px;
$ic-count-y: 140px;
$ic-count-offset-x: -145px;
$ic-count-offset-y: -140px;
$ic-count-width: 22px;
$ic-count-height: 22px;
$ic-count-total-width: 231px;
$ic-count-total-height: 217px;
$ic-count-image: '../images/sprite.png';
$ic-count: (145px, 140px, -145px, -140px, 22px, 22px, 231px, 217px, '../images/sprite.png', 'ic-count', );
$ic-create-name: 'ic-create';
$ic-create-x: 165px;
$ic-create-y: 169px;
$ic-create-offset-x: -165px;
$ic-create-offset-y: -169px;
$ic-create-width: 14px;
$ic-create-height: 14px;
$ic-create-total-width: 231px;
$ic-create-total-height: 217px;
$ic-create-image: '../images/sprite.png';
$ic-create: (165px, 169px, -165px, -169px, 14px, 14px, 231px, 217px, '../images/sprite.png', 'ic-create', );
$ic-detail-circle-hover-name: 'ic-detail-circle-hover';
$ic-detail-circle-hover-x: 136px;
$ic-detail-circle-hover-y: 169px;
$ic-detail-circle-hover-offset-x: -136px;
$ic-detail-circle-hover-offset-y: -169px;
$ic-detail-circle-hover-width: 15px;
$ic-detail-circle-hover-height: 15px;
$ic-detail-circle-hover-total-width: 231px;
$ic-detail-circle-hover-total-height: 217px;
$ic-detail-circle-hover-image: '../images/sprite.png';
$ic-detail-circle-hover: (136px, 169px, -136px, -169px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-detail-circle-hover', );
$ic-detail-circle-name: 'ic-detail-circle';
$ic-detail-circle-x: 198px;
$ic-detail-circle-y: 158px;
$ic-detail-circle-offset-x: -198px;
$ic-detail-circle-offset-y: -158px;
$ic-detail-circle-width: 15px;
$ic-detail-circle-height: 15px;
$ic-detail-circle-total-width: 231px;
$ic-detail-circle-total-height: 217px;
$ic-detail-circle-image: '../images/sprite.png';
$ic-detail-circle: (198px, 158px, -198px, -158px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-detail-circle', );
$ic-dialog-hover-name: 'ic-dialog-hover';
$ic-dialog-hover-x: 115px;
$ic-dialog-hover-y: 169px;
$ic-dialog-hover-offset-x: -115px;
$ic-dialog-hover-offset-y: -169px;
$ic-dialog-hover-width: 21px;
$ic-dialog-hover-height: 20px;
$ic-dialog-hover-total-width: 231px;
$ic-dialog-hover-total-height: 217px;
$ic-dialog-hover-image: '../images/sprite.png';
$ic-dialog-hover: (115px, 169px, -115px, -169px, 21px, 20px, 231px, 217px, '../images/sprite.png', 'ic-dialog-hover', );
$ic-dialog-round-hover-name: 'ic-dialog-round-hover';
$ic-dialog-round-hover-x: 123px;
$ic-dialog-round-hover-y: 70px;
$ic-dialog-round-hover-offset-x: -123px;
$ic-dialog-round-hover-offset-y: -70px;
$ic-dialog-round-hover-width: 15px;
$ic-dialog-round-hover-height: 15px;
$ic-dialog-round-hover-total-width: 231px;
$ic-dialog-round-hover-total-height: 217px;
$ic-dialog-round-hover-image: '../images/sprite.png';
$ic-dialog-round-hover: (123px, 70px, -123px, -70px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-dialog-round-hover', );
$ic-dialog-round-name: 'ic-dialog-round';
$ic-dialog-round-x: 123px;
$ic-dialog-round-y: 85px;
$ic-dialog-round-offset-x: -123px;
$ic-dialog-round-offset-y: -85px;
$ic-dialog-round-width: 15px;
$ic-dialog-round-height: 15px;
$ic-dialog-round-total-width: 231px;
$ic-dialog-round-total-height: 217px;
$ic-dialog-round-image: '../images/sprite.png';
$ic-dialog-round: (123px, 85px, -123px, -85px, 15px, 15px, 231px, 217px, '../images/sprite.png', 'ic-dialog-round', );
$ic-dialog-name: 'ic-dialog';
$ic-dialog-x: 94px;
$ic-dialog-y: 169px;
$ic-dialog-offset-x: -94px;
$ic-dialog-offset-y: -169px;
$ic-dialog-width: 21px;
$ic-dialog-height: 20px;
$ic-dialog-total-width: 231px;
$ic-dialog-total-height: 217px;
$ic-dialog-image: '../images/sprite.png';
$ic-dialog: (94px, 169px, -94px, -169px, 21px, 20px, 231px, 217px, '../images/sprite.png', 'ic-dialog', );
$ic-doc-name: 'ic-doc';
$ic-doc-x: 0px;
$ic-doc-y: 169px;
$ic-doc-offset-x: 0px;
$ic-doc-offset-y: -169px;
$ic-doc-width: 25px;
$ic-doc-height: 25px;
$ic-doc-total-width: 231px;
$ic-doc-total-height: 217px;
$ic-doc-image: '../images/sprite.png';
$ic-doc: (0px, 169px, 0px, -169px, 25px, 25px, 231px, 217px, '../images/sprite.png', 'ic-doc', );
$ic-download-name: 'ic-download';
$ic-download-x: 218px;
$ic-download-y: 0px;
$ic-download-offset-x: -218px;
$ic-download-offset-y: 0px;
$ic-download-width: 13px;
$ic-download-height: 13px;
$ic-download-total-width: 231px;
$ic-download-total-height: 217px;
$ic-download-image: '../images/sprite.png';
$ic-download: (218px, 0px, -218px, 0px, 13px, 13px, 231px, 217px, '../images/sprite.png', 'ic-download', );
$ic-eye-name: 'ic-eye';
$ic-eye-x: 32px;
$ic-eye-y: 194px;
$ic-eye-offset-x: -32px;
$ic-eye-offset-y: -194px;
$ic-eye-width: 16px;
$ic-eye-height: 12px;
$ic-eye-total-width: 231px;
$ic-eye-total-height: 217px;
$ic-eye-image: '../images/sprite.png';
$ic-eye: (32px, 194px, -32px, -194px, 16px, 12px, 231px, 217px, '../images/sprite.png', 'ic-eye', );
$ic-f-hover-name: 'ic-f-hover';
$ic-f-hover-x: 169px;
$ic-f-hover-y: 58px;
$ic-f-hover-offset-x: -169px;
$ic-f-hover-offset-y: -58px;
$ic-f-hover-width: 29px;
$ic-f-hover-height: 29px;
$ic-f-hover-total-width: 231px;
$ic-f-hover-total-height: 217px;
$ic-f-hover-image: '../images/sprite.png';
$ic-f-hover: (169px, 58px, -169px, -58px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-f-hover', );
$ic-f-name: 'ic-f';
$ic-f-x: 169px;
$ic-f-y: 29px;
$ic-f-offset-x: -169px;
$ic-f-offset-y: -29px;
$ic-f-width: 29px;
$ic-f-height: 29px;
$ic-f-total-width: 231px;
$ic-f-total-height: 217px;
$ic-f-image: '../images/sprite.png';
$ic-f: (169px, 29px, -169px, -29px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-f', );
$ic-in-hover-name: 'ic-in-hover';
$ic-in-hover-x: 140px;
$ic-in-hover-y: 58px;
$ic-in-hover-offset-x: -140px;
$ic-in-hover-offset-y: -58px;
$ic-in-hover-width: 29px;
$ic-in-hover-height: 29px;
$ic-in-hover-total-width: 231px;
$ic-in-hover-total-height: 217px;
$ic-in-hover-image: '../images/sprite.png';
$ic-in-hover: (140px, 58px, -140px, -58px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-in-hover', );
$ic-in-name: 'ic-in';
$ic-in-x: 169px;
$ic-in-y: 0px;
$ic-in-offset-x: -169px;
$ic-in-offset-y: 0px;
$ic-in-width: 29px;
$ic-in-height: 29px;
$ic-in-total-width: 231px;
$ic-in-total-height: 217px;
$ic-in-image: '../images/sprite.png';
$ic-in: (169px, 0px, -169px, 0px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-in', );
$ic-info-tip-hover-name: 'ic-info-tip-hover';
$ic-info-tip-hover-x: 198px;
$ic-info-tip-hover-y: 88px;
$ic-info-tip-hover-offset-x: -198px;
$ic-info-tip-hover-offset-y: -88px;
$ic-info-tip-hover-width: 18px;
$ic-info-tip-hover-height: 18px;
$ic-info-tip-hover-total-width: 231px;
$ic-info-tip-hover-total-height: 217px;
$ic-info-tip-hover-image: '../images/sprite.png';
$ic-info-tip-hover: (198px, 88px, -198px, -88px, 18px, 18px, 231px, 217px, '../images/sprite.png', 'ic-info-tip-hover', );
$ic-info-tip-name: 'ic-info-tip';
$ic-info-tip-x: 198px;
$ic-info-tip-y: 124px;
$ic-info-tip-offset-x: -198px;
$ic-info-tip-offset-y: -124px;
$ic-info-tip-width: 18px;
$ic-info-tip-height: 18px;
$ic-info-tip-total-width: 231px;
$ic-info-tip-total-height: 217px;
$ic-info-tip-image: '../images/sprite.png';
$ic-info-tip: (198px, 124px, -198px, -124px, 18px, 18px, 231px, 217px, '../images/sprite.png', 'ic-info-tip', );
$ic-info-name: 'ic-info';
$ic-info-x: 198px;
$ic-info-y: 106px;
$ic-info-offset-x: -198px;
$ic-info-offset-y: -106px;
$ic-info-width: 18px;
$ic-info-height: 18px;
$ic-info-total-width: 231px;
$ic-info-total-height: 217px;
$ic-info-image: '../images/sprite.png';
$ic-info: (198px, 106px, -198px, -106px, 18px, 18px, 231px, 217px, '../images/sprite.png', 'ic-info', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 116px;
$ic-inst-hover-y: 140px;
$ic-inst-hover-offset-x: -116px;
$ic-inst-hover-offset-y: -140px;
$ic-inst-hover-width: 29px;
$ic-inst-hover-height: 29px;
$ic-inst-hover-total-width: 231px;
$ic-inst-hover-total-height: 217px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (116px, 140px, -116px, -140px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 87px;
$ic-inst-y: 140px;
$ic-inst-offset-x: -87px;
$ic-inst-offset-y: -140px;
$ic-inst-width: 29px;
$ic-inst-height: 29px;
$ic-inst-total-width: 231px;
$ic-inst-total-height: 217px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (87px, 140px, -87px, -140px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-inst', );
$ic-key-hover-name: 'ic-key-hover';
$ic-key-hover-x: 198px;
$ic-key-hover-y: 21px;
$ic-key-hover-offset-x: -198px;
$ic-key-hover-offset-y: -21px;
$ic-key-hover-width: 20px;
$ic-key-hover-height: 21px;
$ic-key-hover-total-width: 231px;
$ic-key-hover-total-height: 217px;
$ic-key-hover-image: '../images/sprite.png';
$ic-key-hover: (198px, 21px, -198px, -21px, 20px, 21px, 231px, 217px, '../images/sprite.png', 'ic-key-hover', );
$ic-key-name: 'ic-key';
$ic-key-x: 198px;
$ic-key-y: 0px;
$ic-key-offset-x: -198px;
$ic-key-offset-y: 0px;
$ic-key-width: 20px;
$ic-key-height: 21px;
$ic-key-total-width: 231px;
$ic-key-total-height: 217px;
$ic-key-image: '../images/sprite.png';
$ic-key: (198px, 0px, -198px, 0px, 20px, 21px, 231px, 217px, '../images/sprite.png', 'ic-key', );
$ic-left-arrow-name: 'ic-left-arrow';
$ic-left-arrow-x: 70px;
$ic-left-arrow-y: 70px;
$ic-left-arrow-offset-x: -70px;
$ic-left-arrow-offset-y: -70px;
$ic-left-arrow-width: 27px;
$ic-left-arrow-height: 52px;
$ic-left-arrow-total-width: 231px;
$ic-left-arrow-total-height: 217px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (70px, 70px, -70px, -70px, 27px, 52px, 231px, 217px, '../images/sprite.png', 'ic-left-arrow', );
$ic-main-data-name: 'ic-main-data';
$ic-main-data-x: 140px;
$ic-main-data-y: 116px;
$ic-main-data-offset-x: -140px;
$ic-main-data-offset-y: -116px;
$ic-main-data-width: 24px;
$ic-main-data-height: 22px;
$ic-main-data-total-width: 231px;
$ic-main-data-total-height: 217px;
$ic-main-data-image: '../images/sprite.png';
$ic-main-data: (140px, 116px, -140px, -116px, 24px, 22px, 231px, 217px, '../images/sprite.png', 'ic-main-data', );
$ic-menu-arrow-hover-name: 'ic-menu-arrow-hover';
$ic-menu-arrow-hover-x: 218px;
$ic-menu-arrow-hover-y: 22px;
$ic-menu-arrow-hover-offset-x: -218px;
$ic-menu-arrow-hover-offset-y: -22px;
$ic-menu-arrow-hover-width: 12px;
$ic-menu-arrow-hover-height: 6px;
$ic-menu-arrow-hover-total-width: 231px;
$ic-menu-arrow-hover-total-height: 217px;
$ic-menu-arrow-hover-image: '../images/sprite.png';
$ic-menu-arrow-hover: (218px, 22px, -218px, -22px, 12px, 6px, 231px, 217px, '../images/sprite.png', 'ic-menu-arrow-hover', );
$ic-menu-arrow-name: 'ic-menu-arrow';
$ic-menu-arrow-x: 218px;
$ic-menu-arrow-y: 28px;
$ic-menu-arrow-offset-x: -218px;
$ic-menu-arrow-offset-y: -28px;
$ic-menu-arrow-width: 12px;
$ic-menu-arrow-height: 6px;
$ic-menu-arrow-total-width: 231px;
$ic-menu-arrow-total-height: 217px;
$ic-menu-arrow-image: '../images/sprite.png';
$ic-menu-arrow: (218px, 28px, -218px, -28px, 12px, 6px, 231px, 217px, '../images/sprite.png', 'ic-menu-arrow', );
$ic-menu-hover-name: 'ic-menu-hover';
$ic-menu-hover-x: 0px;
$ic-menu-hover-y: 206px;
$ic-menu-hover-offset-x: 0px;
$ic-menu-hover-offset-y: -206px;
$ic-menu-hover-width: 16px;
$ic-menu-hover-height: 11px;
$ic-menu-hover-total-width: 231px;
$ic-menu-hover-total-height: 217px;
$ic-menu-hover-image: '../images/sprite.png';
$ic-menu-hover: (0px, 206px, 0px, -206px, 16px, 11px, 231px, 217px, '../images/sprite.png', 'ic-menu-hover', );
$ic-menu-name: 'ic-menu';
$ic-menu-x: 16px;
$ic-menu-y: 206px;
$ic-menu-offset-x: -16px;
$ic-menu-offset-y: -206px;
$ic-menu-width: 16px;
$ic-menu-height: 11px;
$ic-menu-total-width: 231px;
$ic-menu-total-height: 217px;
$ic-menu-image: '../images/sprite.png';
$ic-menu: (16px, 206px, -16px, -206px, 16px, 11px, 231px, 217px, '../images/sprite.png', 'ic-menu', );
$ic-midifier-name: 'ic-midifier';
$ic-midifier-x: 179px;
$ic-midifier-y: 169px;
$ic-midifier-offset-x: -179px;
$ic-midifier-offset-y: -169px;
$ic-midifier-width: 15px;
$ic-midifier-height: 13px;
$ic-midifier-total-width: 231px;
$ic-midifier-total-height: 217px;
$ic-midifier-image: '../images/sprite.png';
$ic-midifier: (179px, 169px, -179px, -169px, 15px, 13px, 231px, 217px, '../images/sprite.png', 'ic-midifier', );
$ic-order-name: 'ic-order';
$ic-order-x: 169px;
$ic-order-y: 87px;
$ic-order-offset-x: -169px;
$ic-order-offset-y: -87px;
$ic-order-width: 28px;
$ic-order-height: 28px;
$ic-order-total-width: 231px;
$ic-order-total-height: 217px;
$ic-order-image: '../images/sprite.png';
$ic-order: (169px, 87px, -169px, -87px, 28px, 28px, 231px, 217px, '../images/sprite.png', 'ic-order', );
$ic-pay-name: 'ic-pay';
$ic-pay-x: 169px;
$ic-pay-y: 142px;
$ic-pay-offset-x: -169px;
$ic-pay-offset-y: -142px;
$ic-pay-width: 26px;
$ic-pay-height: 25px;
$ic-pay-total-width: 231px;
$ic-pay-total-height: 217px;
$ic-pay-image: '../images/sprite.png';
$ic-pay: (169px, 142px, -169px, -142px, 26px, 25px, 231px, 217px, '../images/sprite.png', 'ic-pay', );
$ic-promo-hit-name: 'ic-promo-hit';
$ic-promo-hit-x: 0px;
$ic-promo-hit-y: 0px;
$ic-promo-hit-offset-x: 0px;
$ic-promo-hit-offset-y: 0px;
$ic-promo-hit-width: 70px;
$ic-promo-hit-height: 70px;
$ic-promo-hit-total-width: 231px;
$ic-promo-hit-total-height: 217px;
$ic-promo-hit-image: '../images/sprite.png';
$ic-promo-hit: (0px, 0px, 0px, 0px, 70px, 70px, 231px, 217px, '../images/sprite.png', 'ic-promo-hit', );
$ic-promo-new-name: 'ic-promo-new';
$ic-promo-new-x: 70px;
$ic-promo-new-y: 0px;
$ic-promo-new-offset-x: -70px;
$ic-promo-new-offset-y: 0px;
$ic-promo-new-width: 70px;
$ic-promo-new-height: 70px;
$ic-promo-new-total-width: 231px;
$ic-promo-new-total-height: 217px;
$ic-promo-new-image: '../images/sprite.png';
$ic-promo-new: (70px, 0px, -70px, 0px, 70px, 70px, 231px, 217px, '../images/sprite.png', 'ic-promo-new', );
$ic-promo-sold-name: 'ic-promo-sold';
$ic-promo-sold-x: 0px;
$ic-promo-sold-y: 70px;
$ic-promo-sold-offset-x: 0px;
$ic-promo-sold-offset-y: -70px;
$ic-promo-sold-width: 70px;
$ic-promo-sold-height: 70px;
$ic-promo-sold-total-width: 231px;
$ic-promo-sold-total-height: 217px;
$ic-promo-sold-image: '../images/sprite.png';
$ic-promo-sold: (0px, 70px, 0px, -70px, 70px, 70px, 231px, 217px, '../images/sprite.png', 'ic-promo-sold', );
$ic-right-arrow-name: 'ic-right-arrow';
$ic-right-arrow-x: 97px;
$ic-right-arrow-y: 70px;
$ic-right-arrow-offset-x: -97px;
$ic-right-arrow-offset-y: -70px;
$ic-right-arrow-width: 26px;
$ic-right-arrow-height: 52px;
$ic-right-arrow-total-width: 231px;
$ic-right-arrow-total-height: 217px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (97px, 70px, -97px, -70px, 26px, 52px, 231px, 217px, '../images/sprite.png', 'ic-right-arrow', );
$ic-search-name: 'ic-search';
$ic-search-x: 198px;
$ic-search-y: 42px;
$ic-search-offset-x: -198px;
$ic-search-offset-y: -42px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 231px;
$ic-search-total-height: 217px;
$ic-search-image: '../images/sprite.png';
$ic-search: (198px, 42px, -198px, -42px, 20px, 20px, 231px, 217px, '../images/sprite.png', 'ic-search', );
$ic-service-name: 'ic-service';
$ic-service-x: 72px;
$ic-service-y: 169px;
$ic-service-offset-x: -72px;
$ic-service-offset-y: -169px;
$ic-service-width: 22px;
$ic-service-height: 20px;
$ic-service-total-width: 231px;
$ic-service-total-height: 217px;
$ic-service-image: '../images/sprite.png';
$ic-service: (72px, 169px, -72px, -169px, 22px, 20px, 231px, 217px, '../images/sprite.png', 'ic-service', );
$ic-star-name: 'ic-star';
$ic-star-x: 218px;
$ic-star-y: 40px;
$ic-star-offset-x: -218px;
$ic-star-offset-y: -40px;
$ic-star-width: 7px;
$ic-star-height: 6px;
$ic-star-total-width: 231px;
$ic-star-total-height: 217px;
$ic-star-image: '../images/sprite.png';
$ic-star: (218px, 40px, -218px, -40px, 7px, 6px, 231px, 217px, '../images/sprite.png', 'ic-star', );
$ic-tags-mini-name: 'ic-tags-mini';
$ic-tags-mini-x: 198px;
$ic-tags-mini-y: 142px;
$ic-tags-mini-offset-x: -198px;
$ic-tags-mini-offset-y: -142px;
$ic-tags-mini-width: 16px;
$ic-tags-mini-height: 16px;
$ic-tags-mini-total-width: 231px;
$ic-tags-mini-total-height: 217px;
$ic-tags-mini-image: '../images/sprite.png';
$ic-tags-mini: (198px, 142px, -198px, -142px, 16px, 16px, 231px, 217px, '../images/sprite.png', 'ic-tags-mini', );
$ic-tags-name: 'ic-tags';
$ic-tags-x: 25px;
$ic-tags-y: 169px;
$ic-tags-offset-x: -25px;
$ic-tags-offset-y: -169px;
$ic-tags-width: 25px;
$ic-tags-height: 25px;
$ic-tags-total-width: 231px;
$ic-tags-total-height: 217px;
$ic-tags-image: '../images/sprite.png';
$ic-tags: (25px, 169px, -25px, -169px, 25px, 25px, 231px, 217px, '../images/sprite.png', 'ic-tags', );
$ic-view-name: 'ic-view';
$ic-view-x: 48px;
$ic-view-y: 194px;
$ic-view-offset-x: -48px;
$ic-view-offset-y: -194px;
$ic-view-width: 19px;
$ic-view-height: 10px;
$ic-view-total-width: 231px;
$ic-view-total-height: 217px;
$ic-view-image: '../images/sprite.png';
$ic-view: (48px, 194px, -48px, -194px, 19px, 10px, 231px, 217px, '../images/sprite.png', 'ic-view', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 29px;
$ic-vk-hover-y: 140px;
$ic-vk-hover-offset-x: -29px;
$ic-vk-hover-offset-y: -140px;
$ic-vk-hover-width: 29px;
$ic-vk-hover-height: 29px;
$ic-vk-hover-total-width: 231px;
$ic-vk-hover-total-height: 217px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (29px, 140px, -29px, -140px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 58px;
$ic-vk-y: 140px;
$ic-vk-offset-x: -58px;
$ic-vk-offset-y: -140px;
$ic-vk-width: 29px;
$ic-vk-height: 29px;
$ic-vk-total-width: 231px;
$ic-vk-total-height: 217px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (58px, 140px, -58px, -140px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-vk', );
$ic-you-hover-name: 'ic-you-hover';
$ic-you-hover-x: 0px;
$ic-you-hover-y: 140px;
$ic-you-hover-offset-x: 0px;
$ic-you-hover-offset-y: -140px;
$ic-you-hover-width: 29px;
$ic-you-hover-height: 29px;
$ic-you-hover-total-width: 231px;
$ic-you-hover-total-height: 217px;
$ic-you-hover-image: '../images/sprite.png';
$ic-you-hover: (0px, 140px, 0px, -140px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-you-hover', );
$ic-you-name: 'ic-you';
$ic-you-x: 140px;
$ic-you-y: 87px;
$ic-you-offset-x: -140px;
$ic-you-offset-y: -87px;
$ic-you-width: 29px;
$ic-you-height: 29px;
$ic-you-total-width: 231px;
$ic-you-total-height: 217px;
$ic-you-image: '../images/sprite.png';
$ic-you: (140px, 87px, -140px, -87px, 29px, 29px, 231px, 217px, '../images/sprite.png', 'ic-you', );
$select-arrow-name: 'select-arrow';
$select-arrow-x: 218px;
$select-arrow-y: 34px;
$select-arrow-offset-x: -218px;
$select-arrow-offset-y: -34px;
$select-arrow-width: 12px;
$select-arrow-height: 6px;
$select-arrow-total-width: 231px;
$select-arrow-total-height: 217px;
$select-arrow-image: '../images/sprite.png';
$select-arrow: (218px, 34px, -218px, -34px, 12px, 6px, 231px, 217px, '../images/sprite.png', 'select-arrow', );
$we-name: 'we';
$we-x: 218px;
$we-y: 13px;
$we-offset-x: -218px;
$we-offset-y: -13px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 231px;
$we-total-height: 217px;
$we-image: '../images/sprite.png';
$we: (218px, 13px, -218px, -13px, 9px, 9px, 231px, 217px, '../images/sprite.png', 'we', );
$spritesheet-width: 231px;
$spritesheet-height: 217px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-add-hover, $ic-add, $ic-arrow-dotted, $ic-arrow-nav-left, $ic-arrow-nav-right, $ic-attach, $ic-badge-1, $ic-badge-2, $ic-buyer, $ic-cancel-hover, $ic-cancel, $ic-coin, $ic-confirm-hover, $ic-confirm, $ic-count, $ic-create, $ic-detail-circle-hover, $ic-detail-circle, $ic-dialog-hover, $ic-dialog-round-hover, $ic-dialog-round, $ic-dialog, $ic-doc, $ic-download, $ic-eye, $ic-f-hover, $ic-f, $ic-in-hover, $ic-in, $ic-info-tip-hover, $ic-info-tip, $ic-info, $ic-inst-hover, $ic-inst, $ic-key-hover, $ic-key, $ic-left-arrow, $ic-main-data, $ic-menu-arrow-hover, $ic-menu-arrow, $ic-menu-hover, $ic-menu, $ic-midifier, $ic-order, $ic-pay, $ic-promo-hit, $ic-promo-new, $ic-promo-sold, $ic-right-arrow, $ic-search, $ic-service, $ic-star, $ic-tags-mini, $ic-tags, $ic-view, $ic-vk-hover, $ic-vk, $ic-you-hover, $ic-you, $select-arrow, $we, );
$spritesheet: (231px, 217px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
