$font-path: '../fonts';
$img: '../images';
$font-size: 16px;
$font-opensans: Open Sans;
$base-line-height: 1rem;

$max-width: 1200px;
$desktop-width: 1000px;
$middle-width: 920px;
$pad-width: 820px;
$pad-portet-width: 740px;
$phone-width: 640px;
$small-width:480px;


$link-hover-color: #2a92e5;
$color-dark: #4f4f4f;

$color-silver-grey: $color-dark;
