.profile-list{
  .add-button-row{
    margin-bottom: 10px;
    .detail-link-btn{
      i{
        margin-right: 5px;
      }
    }
    .detail-link-btn:hover{
      i{
        @include sprite($ic-add-hover);
      }
    }
  }
  .table{
    width: 100%;
    color: #4f4f4f;
  }
  .table-cell{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 100;
    &:nth-child(1){
      font-weight: 400;
    }
  }
  .header-row{
    .table-cell{
      font-weight: 100;
    }
  }
  .body-row{
    &:hover{
      .table-cell{
        background-color: #eef5fb;
        &:first-child{
          border-left:1px dotted #4ba3e9;
        }
        &:last-child{
          border-right: 1px dotted #4ba3e9;
        }
      }
    }
    .table-cell{
      background-color: #fafafa;
      border-top:1px dotted;
      border-bottom: 1px dotted;
      padding-top: 20px;
      padding-bottom: 20px;
      &:first-child{
        border-left:1px dotted;
      }
      &:last-child{
        border-right: 1px dotted;
        text-align: right;
      }
    }
  }
  .seporat-row{
    .table-cell{
      padding-top:3px;
      padding-bottom: 3px;
    }
  }
  .footer-row{
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    .total-sum-block{
      float: left;
    }
  }
  .action-menu{
    position: relative;
    display: inline-block;
    }
    .action-menu-block{
      display: none;
      text-align: left;
      position: absolute;
      background-color: #fff;
      right: -15px;
      z-index: 1;
      top: 33px;
      &:after{
        position: absolute;
        width: 30px;
        height: 30px;
        position: absolute;
        content: "";
        background-color: transparent;
        z-index: 1;
        top:-15px;
        right:15px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        li{
          margin-bottom: 10px;
          a{
            text-decoration: none;
            font-weight: 400;
            font-size: 0.9rem;
         }
        }
      }
    }
    .arrow-div {
    	background: #fff;
    	border: 1px solid #dfdfdf;
    }
    .arrow-div:after, .arrow-div:before {
    	bottom: 99%;
    	left: 72%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    .arrow-div:after {
    	border-color: rgba(255, 255, 255, 0);
    	border-bottom-color: #fff;
    	border-width: 13px;
    	margin-left: -13px;
    }
    .arrow-div:before {
    	border-color: rgba(223, 223, 223, 0);
    	border-bottom-color: #dfdfdf;
    	border-width: 14px;
    	margin-left: -14px;
    }
}
